@import "https://fonts.googleapis.com/css2?family=Jost";

*{
	font-family:"Jost",sans-serif;
}

ul{
	margin:0;
	padding:0;
}

button{
	cursor:pointer;
	outline:none;
	background: none;
}

.btn{
  border:none;
  background:none;
  color:#fff;
  font-weight:600;
}

.btn-primary{
	border:2px solid $btnColor;
	color:$btnColor;
	transition:all .5s;
	border-radius:50px;
	font-weight:600;
	padding:8px 25px;
	transition:.5s;
	&:hover{
		background-color:$btnColor;
		border-color:$btnColor;
		color:#fff;
	}
}

.btn-secondary{
	background-color:$btnColor;
	color:#fff;
	transition:all .5s;
	border-radius:50px;
	font-weight:600;
	padding:12px 30px;
	font-size:16px;
	transition:.5s;
	&:hover{
		background-color:$btnHover;
		border-color:$btnColor;
	}
}

.divider{
	width:80px;
	background-color:#ccc;
	height:1px;
	margin:auto;
	position:relative;

	&::after{
		content: "";
	    position: absolute;
	    top: -1px;
	    left: 20px;
	    display: block;
	    width: 50%;
	    height: 3px;
	    background-color: #47b2e4;
	}
}