@import "variables.scss";
@import "global.scss";



nav{
background-color:$mainColor;
height:80vh;
position:relative;
.navbar{
	display:flex;
	padding:25px 5px;
	.nav{
		display:flex;
		margin-top:0;
		margin-right:40px;
		padding-top:8px;
		.nav-item{
			margin-right:25px;
			position: relative;
			.nav-link{
				color:#fff;
				font-size:16px;
				font-weight:300;
				transition:.5s;
				&:hover{
					color:$btnColor;
				}
			}
			.nav-link.active{
					color:$btnColor;
			}
			
			.dropdown{
				opacity:0;
				visibility:hidden;
			    position: absolute;
			    transition:.4s;
			    top: 42px;
			    background-color:#fff;
			    left:-20px;
			    border-radius:5px;
				ul{
					width: 150px;
    				padding: 5px 24px;
					li{
						margin:20px 0;
						a{
							color:#0c3c53;
							transition:.5s;
							&:hover{
								color:$btnColor;
							}
						}
					}
				}
			}
		}
		.drop-down:hover .dropdown{
				opacity:1;
				visibility:visible;
			}
	}
	.navbar-brand{
		color:#fff;
		text-transform:uppercase;
		font-size:26px;
	}
}
}

.landing-page{
	.landing-content{
		margin-right:25px;
		padding-right:35px;
		img{
			width:100%;
		}
		h1{
			color: #fff;
			margin-top:50px;
			margin-bottom:0px;
			font-size:40px;
			font-weight:900;
		}
		p{
			color:rgba(255, 255, 255, 0.6);
			font-size:22px;
			margin-bottom:50px;
		}
		button{
			margin-right:20px;
			position:relative;
			font-weight:600;
			i{
			position:relative;
			top:5px;
			margin-right:10px;
			left:0;
			transition:.5s;
			}
		&:hover i{
			color:$btnColor;
		}
		}
	}
}

.brands{
	height:20vh;
	line-height:20vh;
	background-color:#f3f5fa;
	img{
		width:40%;
		filter:grayscale(100%);
		transition:.5s;
		&:hover{
			filter:grayscale(0);
			width:45%;
		}
	}
}

.about-us{
	padding:50px 0;
	h1{
		color:$mainColor;
		font-weight:bold;
		text-transform:uppercase;
	}
	i{
		margin-right:10px;
		color:$btnColor;
	}
	ul li{
		font-size:18px;
		margin-bottom:15px;
		color:#505050;
	}
	p{
		font-size:17px;
		color:#505050;
	}
	button{
		margin-top:25px;
		border-radius:5px;
		font-size:16px;
		padding-right:40px;
		padding-left:40px;
		letter-spacing:2px;
	}
}

.faq{
	background-color:#f3f5fa;
	padding:50px 0;
	h1{
		font-weight:300;
		color:$mainColor;
		span{
			font-weight:bold;
		}
	}
	p{
		color:#b2b2b2;
	}
	img{
		width:100%;
	}
	.faq-content{
		.faq-item{
			background-color:#fff;
			margin-bottom:10px;
			padding:10px 5px;
			padding-left:20px;
			border-radius:3px;
			p{
			display:none;
			}
			h1{
			color:$mainColor;
			cursor:pointer;
			font-size:18px;
			padding:0;
			transition:.5s;
			position:relative;
			font-weight:600;
			&:hover{
				color:$btnColor;
			}
			span{
				color:$btnColor;
				margin-right:10px;
			}
			i{
				font-size:12px;
				position:absolute;
				top:7px;
				right:0;
				margin-right:20px;
			}
			}
		}
	}
}

.skills{
	padding:50px 0;
	img{
		width:90%;
	}
	h1{
		color:$mainColor;
		font-weight:900;
		font-size:34px;
	}
	p{
		font-style:italic;
		color:#505050;
	}
	.skills-content
	{
		.skills-item
		{
			margin-bottom:10px;
			span{
				color:$mainColor;
				font-size:12px;
				font-weight:900;
			}
			span:first-child
			{
				float:left;
			}
			span:nth-child(2)
			{
				float:right;
			}
			.progress{
				width:100%;
				background-color:#ccc;
				height:10px;
				margin-top:10px;
				position:relative;
				.progress-bar{
					width:100%;
					position:absolute;
					height:100%;
					background-color:$mainColor;
				}
			}
		}
	}
}

.services{
	background-color:#f3f5fa;
	padding:50px 0;
	p{
		margin-bottom:50px;
		color:#555;
	}
	h1{
		color:$mainColor;
		font-weight:900;
	}
	.card{
		i{
			font-size:28px;
			color:$btnColor;
		}
		h1{
			color:$mainColor;
			margin:10px 0;
			cursor:pointer;
			transition:.5s;
			font-size:24px;
			&:hover{
				color:$btnColor;
			}
		}
		p{
			color:#555;
			margin-bottom:0px;
		}
		background-color:#fff;
		padding:50px 30px;
		padding-bottom:25px;
		margin-right:15px;
		box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
		transition:.5s;
		&:hover{
			margin-top:-10px;
		}
	}
}

.cta{
	
    background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)) 0% 0% / cover, url(../img/cta-bg.jpg) center center fixed;
    padding: 120px 0px;
    background-size:cover;
    color:#fff;
    button{
    	position:absolute;
    	top:50%;
    	left:50%;
    	border:2px solid #fff;
    	padding:10px 40px;
    	color:#fff;
    	border-radius:50px;
    	font-weight:600;
    	font-size:20px;
    	transform: translateX(-50%);
    	transition:.5s;
    	&:hover{
    		background-color:$btnColor;
    		border-color:$btnColor;
    	}
    }
    .col-lg-3{
    	position:relative;
    }
    h1,p{
    	margin-bottom:10px;
    }
}

.portfolio{
	padding:50px 0;
	p{
		margin-bottom:30px;
	}
	ul{
		margin-bottom:30px;
		li{
			display:inline-block;
			margin-right:30px;
			cursor:pointer;
			border-radius:50px;
			padding:5px 25px;
			color:$mainColor;
			font-weight:600;
			font-size:16px;
			transition:.5s;
			&:hover{
			background-color:$btnColor;
			color:#fff;
			}
		}
		li.active{
			background-color:$btnColor;
			color:#fff;
		}
	}
	.portfolio-card{
		margin-right:20px;
		position: relative;
			&:hover .card-description{
			opacity:1;
			visibility:visible;
		}
		img{
			width:100%;
			height:auto;
		}
		.card-description{
			position:absolute;
			bottom:5px;
			left:0;
			background-color:$mainColor;
			width:100%;
			color:#fff;
			padding-top:5px;
			padding-left:12px;
			transition:.5s;
			opacity:0;
			visibility:hidden;

			a{
				float:right;
				margin-right:15px;
				margin-top:-10px;
					i{
						color:#fff;
					}
			}
			h4{
				margin:0;
			}
		}
	}
}

.team{
	background-color:#f3f5fa;
	padding:50px 0;
	h1{
		font-weight:900;
		color:$mainColor;
	}
	.team-card{
		background-color:#fff;
		margin:15px;
		padding:20px;
		border-radius:5px;
		box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
		transition:.5s;
		&:hover{
			margin-top:-5px;
		}
		img{
			width:100%;
			border-radius:50%;
			margin-right:50px;
		}
		.team-card-content{
				margin-left:40px;
				h4{
					margin:0;
					font-size:24px;
					font-weight:900;
					color:$mainColor;
				}
				span,p{
					color:#505050;
				}
				.divid{
					width:70px;
					height:1px;
					background-color:#ccc;
					margin:8px 0;
				}
				a{
					margin-right:20px;
					background-color:#eff2f8;
					width:30px;
					height:30px;
					text-align:center;
					line-height:30px;
					border-radius:50%;
					transition:.5s;
				&:hover{
					background-color:$btnColor;
				}
				&:hover i{
					color:#fff;
				}
				i{
					transition:.5s;
					color:$mainColor;
				}
				}
			}
	}
}

.pricing{
	padding:50px 0;
	p{
		margin-bottom:50px;
	}
	.pricing-card{
		padding: 60px 30px 20px;
    box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1);
    background: #fff;
    height: 100%;
    border-radius: 5px;
    margin:10px 20px;
    h4{
    	color:$mainColor;
    	font-size:20px;
    	margin:0;
    }
    h1{
    	color:$mainColor;
    	margin:0;
    	font-size:50px;
    	sup{
    		font-size:16px;
    	}
    }
    >span{
    	color:$btnColor;
    	font-size:18px;
    	font-weight:500;
    	margin-bottom:30px;
    	display: block;
    }
    ul 
    {
    	li{
    	margin-bottom:20px;
    	position: relative;
    	padding-left:30px;
    	span.disabled{
    		text-decoration: line-through;
    	}
    	span{
    		color:#ccc;
    	}
    }
		i{
    		margin-right:15px;
				color: #28a745;
				position: absolute;
		    left: 0;
		    top: 5px;
    	}
    	i.fa-times{
    		color:#ccc;
    	}
 		}
 		button{
			padding:10px 40px;
			border:1px solid $btnColor;
			border-radius:50px;
			color:$btnColor;
			font-weight:600;
			font-size:18px;
			transition:.5s;
			margin-top:30px;
			&:hover{
				background-color:$btnColor;
				color:#fff;
			}
 		}
	}
	.pricing-card.featured{
			border-top:4px solid $btnColor;
			button{
			background-color:$btnColor;
			color:#fff;
			&:hover{
				background-color:$btnHover;
			}
			}
		}

}

.question{
	padding:50px 0;
	background-color:#f3f5fa;
	h1{
		color:$mainColor;
	}
	p{
		color:#505050;
	}
	.question-item{
		background-color: #fff;
		margin:20px auto;
		padding:20px;
		text-align:left;
		h4{
			color:$mainColor;
			transition:.5s;
			margin:0;
			cursor:pointer;
			&:hover{
				color:$btnColor;
			}
			&:hover i:nth-child(2){
				color:$btnColor;
			}
			i{
				margin-right:5px;
			&:first-child{
			color:$btnColor;
			}
			&:nth-child(2){
				color:$mainColor;
				transition: .5s;
				float:right;
				margin-top:5px;
			}
			}
		}
		p{
			display:none;
		}
	}
}

.contact{
	padding:50px 0;
	h1{
		color:$mainColor;
	}
	p{
		margin-bottom:50px;
	}
	.contact-info{
		box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
		border-top:4px solid $btnColor;
		padding:30px;
		border-bottom:4px solid $btnColor;
		text-align:left;
		padding-left:30px;

		h4{
			margin:0;
			color:$mainColor;
			margin-bottom:5px;
			font-size:20px;
		}
		h4,span{
			padding-left:65px;
		}
		span{
	    margin-bottom: 20px;
	    font-size: 14px;
	    color: #6182ba;
		}
		.info{
			position:relative;
			margin-bottom:40px;
			i{
				position:absolute;
				width:50px;
				height:50px;
				line-height:50px;
				text-align:center;
				color:$btnColor;
				background-color:#e7f5fb;
				border-radius:50%;
				transition:.5s;
			}
			&:hover i{
				background-color:$btnColor;
				color:#fff;
			}
		}

	}

	.contact-form{
		box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
		border-top:4px solid $btnColor;
		border-bottom:4px solid $btnColor;
		margin-left:30px;
		padding:20px;
		form{
			.form-group{
				margin:10px;
				margin-bottom:20px;
				.form-control{
					width:100%;
					border:1px solid #ccc;
					padding:10px;
					font-size:16px;
					color:#495057;
					border-radius:5px;
					transition:.5s;
					outline:none;
					&:focus{
						border-color:$btnColor;
					}
				}
			label{
			text-align:left;
			display: block;
			font-size:18px;
			color:#505050;
			margin-bottom:5px;
				}
			textarea{
				resize:none;
				height:200px;
			}
			input[type=submit]{
				border:none;
				background-color:$btnColor;
				color:#fff;
				font-size:18px;
				padding:10px 40px;
				border-radius:50px;
				cursor:pointer;
				transition:.5s;
				outline:none;
				&:hover{
					background-color:$btnHover;
				}
			}
			}
		}
	}
}

.newsletter{
	padding: 50px 0;
	background: #f3f5fa;
	text-align: center;
	font-size: 15px;
	color: #444444;
	h1{
		color:$mainColor;
	}
	form{
		margin:auto;
		position: relative;
		input[type="text"]{
			width:100%;
			padding:10px 40px;
			border:none;
			outline:none;
			background-color: #fff;
			box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
			border-radius:50px; 
		}
		input[type="submit"]
		{
		position:absolute;
		top:0;
		right:0;
		background-color:$btnColor;
		padding:10px 40px;
		outline:none;
		border:none;
		color:#fff;
		border-radius:50px;
		cursor:pointer;
		transition:.5s;
		&:hover{
			background-color: $btnHover;
		}
		}
	}
}

.footer{
	padding-top:50px;
	h2,h4{
		color:$mainColor;
		font-weight:bold;
	}
	h2{
		font-weight:bold;
		text-transform:uppercase;
	}
	p{
		color:#505050;
		margin:0;
		font-size:14px;
	}
	p.description{
		margin-bottom:30px;
	}
	.contact{
		margin-top:20px;
		padding:0;
		span{
			font-weight:900;
		}
	}
	ul
	{
		li{
			margin-bottom:20px;
			a{
				color:#777777;
				font-size:16px;
				transition:.5s;
				&:hover{
					color:$btnColor;
				}
			}
			i{
				font-size:10px;
				margin-right:8px;
				color:$btnColor;
			}
		}
	}
	a.contact-icon{
		margin-right:10px;
		i{
			color:#fff;
			background-color:$btnColor;
			transition:.5s;
			width:35px;
			height:35px;
			line-height:35px;
			text-align:center;
			border-radius:50%;
			&:hover{
				background-color:$btnHover;
			}
		}
	}
	.footer-description{
    margin-top:50px;
    padding:30px;
    background-color:#37517e;
		p{
			color:#fff;
			span{
				font-weight:bold;
			}
		}
		p.copyright{
			text-align:left;
		}
		p.credit{
			text-align:right;
		}
	}
}

.scroll-top{
	position:fixed;
	bottom:20px;
	right:20px;
	color:#fff;
	display:none;
	i{
		width:40px;
		height:40px;
		line-height:40px;
		text-align:center;
		background-color:$btnColor;
		transition:.5s;
		border-radius:50%;
		&:hover{
			background-color:$btnHover;
		}
	}
}