@media #{$xs} {
	@for  $i from 1 through $grid{
	.col-xs-#{$i}{
		width:100% / ($grid / $i);
	}
}

}

@media #{$sm}{
	@for  $i from 1 through $grid{
	.col-sm-#{$i}{
		width:100% / ($grid / $i);
	}
}

}

@media #{$md}{
	@for  $i from 1 through $grid{
	.col-md-#{$i}{
		width:100% / ($grid / $i);
	}
}

}

@media #{$lg}{
	@for  $i from 1 through $grid{
	.col-lg-#{$i}{
		width:100% / ($grid / $i);
	}
}

}
